<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tud.seemuh.nfcgate" >

    <uses-permission
        android:name="android.permission.NFC"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Modules for NFCGate code hooks" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="tud.seemuh.nfcgate.main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="tud.seemuh.nfcgate.splash" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NFC Klimbim -->
        <activity-alias
            android:name=".ActivityAlias"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:targetActivity=".gui.MainActivity" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/tech" />
        </activity-alias>

        <service
            android:name=".nfc.hce.ApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE" >
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/hce" />
        </service>

        <activity
            android:name=".gui.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".gui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity" />

            <intent-filter>
                <action android:name="tud.seemuh.nfcgate.about" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".gui.MainActivity"
            android:screenOrientation="portrait"
            android:targetActivity="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity" />

            <intent-filter>
                <action android:name="tud.seemuh.nfcgate.settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.AboutWorkaroundActivity"
            android:label="@string/title_activity_about_workaround"
            android:parentActivityName=".gui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.MainActivity" />
        </activity>
        <activity
            android:name=".gui.LoggingDetailActivity"
            android:label="@string/title_activity_logging_detail"
            android:parentActivityName=".gui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tud.seemuh.nfcgate.gui.MainActivity" />
        </activity>
    </application>

</manifest>
